# compilation
/target

#model llm
/models
*.log
*.gguf

*.log

#compilateur
*.class

#IDE
.idea/

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#npm
src/frontend/package-lock.json
